* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter, sans-serif;
}

#root {
  --primary-gray: rgba(198, 200, 207, 0.627);
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem 0.25rem;
  flex-wrap: wrap;

  max-width: 720px;
  margin: 0 auto;
  padding: 0.5rem;
}

.header-auth {
  display: flex;
  gap: 0.5rem;
}

.header-logo a {
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

p {
  line-height: 1.6;
}

.auth a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.auth a:hover {
  border-bottom: 2px solid black;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.search-box {
  border: 2px solid black;
  padding:  6px;
  font-size: 18px;
  border-radius: 4px;
  width: 100%;
}

.search-icon {
  font-size: 20px;
}

.home {
  margin: 2rem 0;
  max-width: 720px;
  margin: 0 auto;
  padding: 0.5rem;
}

.post {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.post-content h2 {
  font-weight: 600;
  font-size: 16px;
}

.post-content .post-tag {
  display: flex;
  justify-content: space-between;
}

.post-tag p {
  color: rgb(93, 88, 88);
  font-size: 12px;
}

.post-content .post-details {
  color: rgb(40, 37, 37);
  line-height: 1.5;
  font-size: 14px;
}

.post-image {
  width: 100%;
}

.textImage {
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

/* FOOTER ============ */
.footer {
  background-color: black;
  padding: 1rem;
  color: white;
}

.footer-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 2rem;
}

@media screen and (min-width: 550px) {

  .header-search {
    width: auto;
  }

  .post {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .post-content h2 {
    font-weight: 600;
    font-size: 20px;
  }

  .post-content .post-tag {
    display: flex;
    justify-content: space-between;
  }

  .post-tag p {
    color: rgb(93, 88, 88);
    font-size: 14px;
  }

  .post-content .post-details {
    color: rgb(40, 37, 37);
    line-height: 1.5;
  }

  /* FOOTER ============ */

  .footer-container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 760px) {
  .header-auth {
    gap: 1rem;
  }

  .header-logo {
    font-size: 24px;
    font-weight: 500;
  }
  .auth {
    font-weight: 400;
    font-size: 18px;
  }

  .auth a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  .search-box {
    padding: 6px 10px;
    border-radius: 4px;
    width: 300px;
  }

  .search-icon {
    font-size: 24px;
  }
}
